@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ebd7c7;
  @apply text-black m-8; /* Changed text color to black */
}

button {
  background-color: #b3b3b3; /* Custom gray background */
  color: black; /* Text color */
  @apply px-4 py-2 rounded-md; /* Button padding and border-radius */
}

button:hover {
  background-color: #9e9e9e; /* Slightly darker gray on hover */
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

/* Add rounded borders */
* {
  @apply rounded-sm; /* or use rounded-md for a slightly larger radius */
}

